@media screen and (max-width: 785px) {
    .our-story {
        width: 90%;
    }
}
@media screen and (max-width: 650px) {
    .our-story p {
        text-align: left;
    }
    .about-flex {
        flex-direction: column !important;
        padding: 50px 0;
    }
    .about-flex img {
        width: 100%;
    }
    .about-flex div {
        padding: 20px 15px;
    }
    .our-story-container, .our-story-container img {
        height: 750px;
    }
    @media screen and (max-width: 400px) {
        .our-story {
            width: 100%;
        }
        .our-story-container, .our-story-container img {
            height: 734px;
        }
    }
    @media screen and (max-width: 365px) {
        .our-story-container, .our-story-container img {
            height: 819px;
        }
    }
}