h1 {
    text-align: center;
}
.industries {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 175px;
}
.industries a {
    display: block;
    padding: 20px;
}