/* header + Nav */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.logo-img-text {
    max-width: 370px;
    padding: 15px;
}
.nav {
    display: flex;
    flex-grow: 8;
    justify-content: flex-end;
}
.nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    align-self: center;
}
.nav ul li {
    float: right;
}
.nav ul li a {
    display: block;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    color: black;
}
.hover-menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #2F528F;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}
.hover-menu:hover::after {
    transform: scale(1);
}
.selected {
    background-color: rgba(232, 232, 232);
}
/* popup menus */
.list {
    display: none;
}
label {
    position: relative;
    display: block;
    cursor: pointer;
}
.list {
    position: absolute;
    right: 0;
    transform: translate(-19px);
    background-color: rgba(232, 232, 232);
    padding: 20px;
    z-index: 1;
}
.hamburger {
    display: none;
}

/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
}
footer img {
    padding-right: 15px;
    max-width: 100px;
}
footer p {
    align-self: center;
}
.trademark {
    text-align: right;
    flex-grow: 8;
}

/*tablet size*/
@media screen and (max-width: 920px) {
    @media screen and (max-width: 730px) {
        /*hamburger Menu*/
        header {
            align-items: center;
        }
        .logo-img-text {
            max-width: 80% !important;
            padding: 0 !important;
        }
        .hamburger {
            display: block !important;
            position: fixed;
            cursor: pointer;
            padding: 13px 15px;
            right: 20px;
            z-index: 999;
            background-color: #2F528F;
            border: none;
        }
        .hamburger i {
            font-size: 25px;
            position: relative;
            color: white;
        }
        .menuItem {
            display: block;
        }
        .nav {
            display: block !important;
            position: fixed;
            transform: translateY(-100%);
            transition: transform 0.2s;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            height: 100vh;
            width: 100vw;
            background-color: white;
        }
        .nav ul {
            position: relative;
            height: 70vh;
            width: 85%;
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);
        }
        .nav ul li {
            display: block;
            float: none !important;
            position: static;
            width: 30%;
        }
        .showMenu {
            transform: translateY(0);
        }
        /*dropdown*/
        .list {
            position: absolute;
            width: 70%;
            height: 75vh;
            top: 0;
            transform: translate(0px) !important;
        }
        /*smart phone size*/
        @media screen and (max-width: 420px) {
            .hover {
                display: block;
                margin: 0 auto;
            }
            .nav ul {
                overflow: scroll !important;
                width: 80%;
                margin: 0 auto;
                height: 81vh;
                top: 90px;
                transform: none;
            }
            .nav ul li {
                width: 100%;
            }
            .nav ul li a {
                padding: 20px 25px;
            }
            .list {
                position: relative !important;
                height: 100%;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 1025px){
    /*footer*/
    footer {
        display: block;
    }
    footer img {
        position: relative;
        padding-right: 0 !important;
        left: 50%;
        transform: translate(-50%);
    }
    footer p {
        text-align: center !important;
    }
    .trademark {
        text-align: center;
        padding: 15px;
    }
}