main {
    min-height: 73vh;
}
.main-description {
    text-align: center;
}
.main-description h1 {
    padding-bottom: 20px;
}
.flex {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex a {
    width: 30%;
    text-decoration: none;
    color: black;
    align-items: center;
    height: 260px;
    padding: 20px;
}
.learn-more-image-div {
    display: flex;
    height: calc(100% - 80px);
    width: 100%;
    overflow: hidden;
}
.flex a img, .flex a span {
    max-height: 125px;
    max-width: calc(100% - 45px);
    margin: auto;
    padding-bottom: 20px;
}
.flex a span {
    font-size: 125px;
}
@media screen and (max-width: 940px) {
    .flex a {
        width: 45%;
    }
    @media screen and (max-width: 630px) {
        .flex a {
            width: 85%;
        }
    }
    @media screen and (max-width: 400px) {
        .flex a {
            height: 270px;
        }
        .learn-more-image-div {
            height: calc(100% - 100px);
        }
    }
}