main {
    min-height: 73vh;
    max-width: 960px;
    margin: 0 auto;
}
main p {
    font-size: 18px;
}
main h2 {
    font-size: 28px;
}
.main-description {
    text-align: left;
}
.main-description h1 {
    padding-bottom: 20px;
}
.flex {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex a {
    width: 30%;
    text-decoration: none;
    color: black;
    align-items: center;
    height: 260px;
    padding: 20px;
}
.learn-more-image-div {
    display: flex;
    height: calc(100% - 80px);
    width: 100%;
    overflow: hidden;
}
.flex a img, .flex a span {
    max-height: 125px;
    max-width: calc(100% - 45px);
    margin: auto;
    padding-bottom: 20px;
}
.flex a span {
    font-size: 125px;
}
@media screen and (max-width: 940px) {
    .flex a {
        width: 45%;
    }
    @media screen and (max-width: 630px) {
        .flex a {
            width: 85%;
        }
    }
    @media screen and (max-width: 400px) {
        .flex a {
            height: 270px;
        }
        .learn-more-image-div {
            height: calc(100% - 100px);
        }
    }
}

/*---------------corporate-buyers-------------------*/

.buyers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.buyer {
    width: 50%;
    display: block;
    padding: 32px;
    text-align: center;
}
.buyer p, .buyer h2 {
    padding-bottom: 10px;
}
.corporate-text {
    font-size: 20px;
    padding-bottom: 50px;
    text-align: center;
}
.corporate-text div {
    padding: 20px 0;
}
.other-buyers-container h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 25px;
}
.buyer-other {
    width: 50%;
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
}
.buyers-margin {
    margin: 90px 0;
}
@media screen and (max-width: 730px) {
    .buyer {
        width: 100%;
    }
    @media screen and (max-width: 420px) {
        .buyer-other {
            width: 100%;
        }
    }
}